#comus-page {
  height: auto; /* footer가 보여지게 하기 위해서 height값 설정 */
  .page-view {
    height: 100vh; /* 실제 높이 처리 */
    overflow: hidden;
    .page-list {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}
/* --- 각각페이지 설정 --- */
.page {
  padding: 10rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex: 0 0 100vw;
  .left {
    padding: 5rem 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    .top {
      p:nth-child(1) {
        color: #333;
        line-height: 1.5;
        white-space: pre-wrap;
      }
      p:nth-child(2) {
        margin-top: 2rem;
        font-weight: bolder;
      }
    }
    .bottom {
      p {
        color: #2d3ebd;
        font-weight: bolder;
        font-size: 2rem;
      }
      h2 {
        margin: 1rem 0;
        font-size: 5.5rem;
      }
    }
  }
  img {
    width: 35%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

@media all and (max-width: 768px) {
  #comus-page {
    .page-view {
      height: auto;
      .page-list {
        flex-direction: column;
      }
    }
  }
  .page {
    padding: 5rem;
    flex-direction: column-reverse;
    .left {
      flex-direction: column-reverse;
    }
    .left {
      width: 100%;
      .bottom {
        h2 {
          font-size: 3rem;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}
