footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 2rem 10rem;
  color: #aaa;
  .left {
    h3 {
      color: #000;
      padding-bottom: 0.5rem;
    }
  }
  .right {
    position: relative;
    ul {
      position: absolute;
      bottom: 60px;
      left: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px 40px;
      border-radius: 4px;
      li {
        margin: 8px 0;
        cursor: pointer;
        &:hover {
          color: #aaa;
        }
      }
    }
    p {
      border: 1px solid #ddd;
      padding: 10px 40px;
      cursor: pointer;
      border-radius: 4px;
    }
  }
}

@media all and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    .left {
      width: 100%;
      text-align: center;
    }
    .right {
      width: 100%;
      ul {
        width: 100%;
        li {
          text-align: center;
        }
      }
      p{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
